{% extends "base_share.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    {% if request.user.username == user.username %}
        <h1>My Profile</h1>
    {% else %}
        <h1>User Profile</h1>
    {% endif %}

    <p>Account: {{ user.username }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Followers: {{ user.followers.count }}</p>
    <p>Following: {{ user.following.count }}</p>
    <hr>

    <div class="image-info">
        {% if request.user.username != user.username %}
            <div>
                {% if request.user in user.followers.all %}
                    <a class="count-like" href="{% url "account:unfollow" user.username %}">following</a>
                {% else %}
                    <a class="count" href="{% url "account:follow" user.username %}">follow</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% if request.user.username == user.username %}
        <a href="{% url 'account:password_change' %}">Change password</a>
    {% endif %}




    {#    <h1>{{ user.username }}</h1>#}
    {#    <div class="images">#}
    {#        <img src="{{ user.gravatar }}" class="item-img">#}
    {#    </div>#}
    {##}
    {#    <div class="image-info">#}
    {#        {% if request.user.username != user.username %}#}
    {#            <div>#}
    {#                {% if request.user in user.followers.all %}#}
    {#                    <a class="count-like" href="{% url "account:unfollow" user.username %}">#}
    {#                        following#}
    {#                    </a>#}
    {#                {% else %}#}
    {#                    <a class="count" href="{% url "account:follow" user.username %}">#}
    {#                        follow#}
    {#                    </a>#}
    {#                {% endif %}#}
    {#            </div>#}
    {#        {% endif %}#}
    {#    </div>#}
    {##}
    {#    <p>First Name: {{ user.first_name }}</p>#}
    {#    <p>Last Name: {{ user.last_name }} </p>#}
    {#    <p>Email: {{ user.email }}</p>#}
    {#    <p>Followers: {{ user.followers.count }}</p>#}
    {#    <p>Following: {{ user.following.count }}</p>#}
{% endblock %}