{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{% url "accounts:dashboard" %}">GALLERY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url "accounts:dashboard" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url "images:image_list" %}">Images</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="http://www.helloxinyuwen.com" target="_blank">Personal Website</a>
                        <a class="dropdown-item" href="https://linkedin.com/in/xywen" target="_blank">LinkedIn</a>
                        <a class="dropdown-item" href="https://github.com/xinyuwen101/django_image" target="_blank">GitHub</a>
                        <a class="dropdown-item" href="mailto:me.xinyuwen@gmail.com">Email</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-light"
                                            href="{% url 'accounts:profile' request.user.username %}">Hello, {{ request.user.first_name }}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:logout' %}">Log out <i
                            class="fa fa-sign-out"></i></a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link text-light"
                                            href="{% url 'accounts:register' %}">Register <i class="fa fa-user-plus"></i></a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'accounts:login' %}">Log in <i
                            class="fa fa-sign-in"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>