{% load static %}

<footer class="footer mt-auto pt-4 pb-2 bg-light mt-5 border-top">
    <div class="container">
        <p class="float-right">
            <a class="font-weight-light" href="#">Back to top</a>
        </p>
        <small class="font-weight-light">Copyright &copy;
            <script type="text/javascript">
                document.write(new Date().getFullYear().toString());
            </script>
            by Xinyu Wen. All rights reserved.
            <a href="mailto:me.xinyuwen@gmail.com">Questions?</a>
        </small>
    </div>
</footer>