{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container text-center my-4">
        <div class="py-5">
            <h1 class="display-4">Welcome to iShare</h1>
            <p class="font-italic font-weight-light text-secondary">-- share images that you love</p>
        </div>
        <div class="col-md-4 mx-auto">
            <a class="btn btn-outline-primary btn-block" href="{% url 'images:image_list' %}">View all images</a>
            <a class="btn btn-outline-primary btn-block" href="{% url 'images:image_upload' %}">Upload an image</a>
        </div>
    </div>
{% endblock %}