{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center my-4">
            <h1>{{ user.username }}</h1>
        </div>

        <div class="col-md-8 mx-auto row jumbotron bg-white border border-dark py-4">
            <div class="col">
                <p>Account: {{ user.username }}</p>
                <p>First Name: {{ user.first_name }}</p>
                <p>Last Name: {{ user.last_name }}</p>
            </div>
            <div class="col">
                <p>Email: {{ user.email }}</p>
                <p>Followers: {{ user.followers.count }}</p>
                <p>Following: {{ user.following.count }}</p>
            </div>
            <div class="float-right">
                {% if request.user.username != user.username %}
                    {% if request.user in user.followers.all %}
                        <a class="btn btn-primary" href="{% url "accounts:unfollow" user.username %}">following</a>
                    {% else %}
                        <a class="btn btn-outline-primary"
                           href="{% url "accounts:follow" user.username %}">follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-4 mx-auto my-5">
            <a href="{% url "accounts:user_list" %}" class="btn btn-outline-primary btn-block">Show all users</a>
        </div>
    </div>


{% endblock %}