hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    overflow: auto;
}

form p {
    width: 100%;
    overflow: auto;
}

label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input, textarea {
    clear: both;
    margin-left: 5px;
    background: #efefef;
    border: 10px;
    padding: 6px 10px;
    font-size: 14px;
}

input[type=submit], a.button {
    font-weight: bold;
    background: #181818;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}