<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'account:dashboard' %}">Share</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'account:dashboard' %}">Home</a></li>
                    <li><a href="{% url 'images:image_list' %}">Images</a></li>
                    <li><a href="{% url 'account:profile' request.user.username %}">My Profile</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Other Projects<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Project 2</a></li>
                            <li><a href="#">Project 3</a></li>
                            <li><a href="#">Project 4</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About me</a></li>
                    <li><a href="https://github.com/xinyuwen23/django_blog">View Source Code</a></li>
                    {% if request.user.is_authenticated %}
                        <li>Hello, <span>{{ request.user.first_name }}</span></li>
                        <li><a href="{% url "account:logout" %}">Log out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<div id="header">
    <span class="logo"><a href="{% url 'account:dashboard' %}">Share</a></span>
    {% if request.user.is_authenticated %}
        <ul class="menu">
            <li>
                <a href="{% url 'account:profile' request.user.username %}">My Profile</a>
            </li>
            <li>
                <a href="{% url 'images:image_list' %}">Images</a>
            </li>
            <li>
                <a href="{% url 'account:user_list' %}">User List</a>
            </li>
        </ul>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
            Hello,
            {% if request.user.first_name == '' %}
                <span>Customer</span>
            {% else %}
                <span>{{ request.user.first_name }}</span>
            {% endif %}
            |
            <a href="{% url "account:logout" %}">Log out</a>
        {% else %}
            <a href="{% url "account:login" %}">Log in</a>
            |
            <a href="{% url "account:register" %}">Register</a>
        {% endif %}
    </span>
</div>
<hr>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<hr>
<div id="footer">
    <small>&copy; 2017-
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script>
        by Xinyu Wen. All rights reserved.
        <a href="mailto:me.xinyuwen@gmail.com">Questions?</a>
    </small>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "js/jquery-1.12.4.min.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>