{% extends 'base.html' %}

{% block title %}Image upload done{% endblock %}

{% block content %}

    <div class="container text-center my-4">
        <h3 class="py-5">Image uploaded successfully!</h3>
        <div class="col-md-4 mx-auto">
            <a class="btn btn-outline-primary btn-block my-2" href="{% url 'images:image_list' %}">View all images</a>
            <a class="btn btn-outline-primary btn-block my-2" href="{% url 'images:image_upload' %}">Upload another image</a>
        </div>
    </div>

{% endblock %}